extends ./components/_layout.pug

block vars
	- var pageTitle = 'Время Арктики'
	- var lang = 'ru'

block content_block
	transition(name="fade"): section.start-scene(v-if="startScreenShow")
		.water-block
		.content-block
			img.bg-left(src="./img/start-img-left.png", alt="")
			img.bg-right(src="./img/start-img-right.png", alt="")
			header
				.left
					.logo-wrap: a(href="#", target="_blank"): img.logo-1(src="./img/logo-1.svg", alt="")
				.right
					.logo-wrap: a(href="#", target="_blank"): img.logo-2(src="./img/logo-2.svg", alt="")
					.logo-wrap: a(href="#", target="_blank"): img.logo-3(src="./img/logo-3.svg", alt="")
			.text-wrap
				h1 Едем на Север
				p Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!
				.btn-wrap: button.btn(@click="start") Выдвигаюсь!
			+social
		.loader-wrap
			.img-wrap: img(src="./img/termometr.svg", alt="")
			p Загружаем холода

	section.map-scene(v-if="!showEnd")
		#map-container
			.map-wrapper
				.water-block
				.map
				.content
					+animalTulen
					+animalKazarka
					+animalVolk
					+animalOlen
					+animalBeluga
					+animalPunochka
					+animalNarval
					+animalPlankton
					+animalMedved
					+animalRiba

		.info-tablo
			.poinst-wrap
				.title очков
				span {{ completedTasks * 10 }}
			.task-wrap
				.title выполнено заданий
				span {{ completedTasks }} / {{ animals.length }}
				button(@click="showRules = true"): img(src="./img/answer.svg", alt="")
			
			.animals-wrap
				.item(v-for="animal in infoAnimals" :class="{done: animal.stars === animal.maxStars, current: currentAnimal.label === animal.label && isStart}")
					img.img(:src="animal.imgSrc", alt="")
					.notify-wrap(v-if="currentAnimal.label === animal.label && isStart" ref="animalNotify")
						img.bg(src="./img/notify/notify.png", alt="")
						img.animal(:src="animal.imgNotify", alt="")
						.text-wrap
							.name {{ currentAnimal.name }}
							p {{ currentAnimal.infoNotify }}
					
					.timer-indicator(v-if="currentAnimal.label === animal.label && isStart")

			.compas-wrap
				img(:src="currentAnimal.radar", alt="")


		button.sound(@click="muted = !muted")
			img(v-show="!muted" src="./img/sound_on.png", alt="")
			img(v-show="muted" src="./img/sound_off.png", alt="")


	transition(name="fade"): .popup-win-lose.win(v-if="showPopupWin")
		.star-wrap
			img(v-for="star in currentAnimalStars" src="./img/star.png", alt="")
		.title(v-if="currentAnimalMaxStars") {{ currentAnimal.win.title }}

		.text-wrap
			img(src="./img/result-message.png", alt="")
			p(v-if="currentAnimalMaxStars") {{ currentAnimal.win.achivmentText }}
			p(v-else) {{ currentAnimal.win.text }}
		.btn-wrap: button.btn(@click="nextAnimal('win')") Дальше

	transition(name="fade"): .popup-win-lose.lose(v-if="showPopupLose")
		.text-wrap
			img(src="./img/result-message.png", alt="")
			p {{ currentAnimal.lose }}

		.btn-wrap: button.btn(@click="nextAnimal('lose')") Дальше


	transition(name="fade"): section.rules-scene(v-if="showRules"): .wrapper
		transition(name="fade"): img.rules-1(v-if="stepRules === 1" src="./img/rules-1.png", alt="")
		transition(name="fade"): img.rules-2(v-if="stepRules === 2" src="./img/radar/left-top.svg", alt="")

		.header-wrap
			.title Правила игры
			p {{ stepRules }}/3
		.content-wrap
			img.rules-3(v-if="stepRules === 3" src="./img/rules-3.png", alt="")
			.notify-wrap
				transition(name="fade"): img(src="./img/result-message.png", alt="")
				
				p(v-if="stepRules === 1") следи за панелью животных слева. если у кого-то появилась <span>оранжевая</span> рамка, значит ему нужна помощь.
				p(v-if="stepRules === 2") Отыщи животное раньше, чем его иконка станет оранжевой полностью. найти его на карте поможет радар.
				p(v-if="stepRules === 3") Отыскав животное, выполни его задание. <br> Используй мышку
		
		.btn-wrap: button.btn(@click="nextRules")
			span(v-if="stepRules != 3") Дальше
			span(v-else) Играть


	transition(name="fade"): section.end-scene(v-if="showEnd")
		.water-block
		.content-block
			img.bg-left(src="./img/start-img-left.png", alt="")
			img.bg-right(src="./img/start-img-right.png", alt="")
			header
				.left
					.logo-wrap: a(href="#", target="_blank"): img.logo-1(src="./img/logo-1.svg", alt="")
				.right
					.logo-wrap: a(href="#", target="_blank"): img.logo-2(src="./img/logo-2.svg", alt="")
					.logo-wrap: a(href="#", target="_blank"): img.logo-3(src="./img/logo-3.svg", alt="")
			.text-wrapper
				.star-wrap
					img(v-for="i in resultText[resultTextCurrent].stars" src="./img/star.png", alt="")
				.title {{ resultText[resultTextCurrent].title }}
				
				.notify-wrap
					img(src="./img/message-big.png", alt="")
					.txt-wrap
						p(v-html="resultText[resultTextCurrent].text")

				.btn-wrap: a.btn.btn--big(href="./")  ПРОЙТИ ЕЩЕ РАЗ!
			
			.int-text
				img(src="./img/int-msg.png", alt="")
				p Спасибо за помощь в исследованиях! <br> Район добычи Приразломного месторождения окружен уникальной флорой и фауной. Поэтому «Газпром нефть шельф» уделяет большое внимание ее изучению. Например, компания реализует масштабную программу по наблюдению за атлантическими моржами, обитающими на ближайших к платформе островах Баренцева моря. 

				.btn-wrap
					a.btn.btn--small(href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank") Узнать больше

			+social

	transition(name="integration"): .integration-popup(v-if="showIntegration")
		img(src="./img/int-msg.png", alt="")
		p(v-html="currentAnimal.integration")
		.btn-wrap
			button.btn.btn--small(@click="showPopupWin = true, showIntegration = false") Дальше!
			//- a.btn.btn--small(href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank") Узнать больше

	//- transition(name="integration"): .integration-popup(v-if="showEnd")
		img(src="./img/int-msg.png", alt="")
		p Спасибо за помощь в исследованиях! <br> Район добычи Приразломного месторождения окружен уникальной флорой и фауной. Поэтому «Газпром нефть шельф» уделяет большое внимание ее изучению. Например, компания реализует масштабную программу по наблюдению за атлантическими моржами, обитающими на ближайших к платформе островах Баренцева моря. 

		.btn-wrap
			a.btn.btn--small(href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank") Узнать больше


