<!-- Telegram: @rokkido --><!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Едем на Север</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./img/favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#666F86"/>
    <link rel="shortcut icon" href="./img/favicon/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#666F86"/>
    <meta name="msapplication-config" content="./img/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#666F86"/>
    <link rel="stylesheet" href="./css/style.min.css"/>

 <meta name="title" content="Едем на Север">
    <meta name="description" content="Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!">
    <meta property="og:title" content="Едем на Север">
    <meta property="og:description" content="Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!">
    <meta property="og:image" content="./share.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="./share.png">



  </head>
  <body class="hidden">
    <main id="app">
      <transition name="fade">
        <section class="start-scene" v-if="startScreenShow">
          <div class="water-block"></div>
          <div class="content-block"><img class="bg-left" src="./img/start-img-left.png" alt=""><img class="bg-right" src="./img/start-img-right.png" alt="">
            <header>
              <div class="left">
                <div class="logo-wrap"><a href="https://knife.media/" target="_blank"><img class="logo-1" src="./img/logo-1.svg" alt=""></a></div>
              </div>
              <div class="right">
                <div class="logo-wrap"><a href="https://www.gazprom.ru/" target="_blank"><img class="logo-2" src="./img/logo-2.svg" alt=""></a></div>
                <div class="logo-wrap"><a href="https://www.gazprom-neft.ru/tags/vremya_arktiki/" target="_blank"><img class="logo-3" src="./img/logo-3.svg" alt=""></a></div>
              </div>
            </header>
            <div class="text-wrap">
              <h1>Едем на Север</h1>
              <p>Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!</p>
              <div class="btn-wrap">
                <button class="btn" @click="start">Выдвигаюсь!</button>
              </div>
            </div>
            <div class="social-wrap">
              <a onclick="window.open(this.href,this.target,'width=500,height=600,scrollbars=1');return false;" href="https://vk.com/share.php?url=https://test.borisbelov.com/gzprm/" target="_blank"><img src="./img/social/vk.png" alt=""/></a>
              <a onclick="window.open(this.href,this.target,'width=500,height=600,scrollbars=1');return false;" href="https://www.facebook.com/sharer.php?u=https://test.borisbelov.com/gzprm/" target="_blank"><img src="./img/social/fb.png" alt=""/></a>
              <a onclick="window.open(this.href,this.target,'width=500,height=600,scrollbars=1');return false;" href="https://twitter.com/share?url=https://test.borisbelov.com/gzprm/" target="_blank"><img src="./img/social/tw.png" alt=""/></a>
              <a onclick="window.open(this.href,this.target,'width=500,height=600,scrollbars=1');return false;" href="https://telegram.me/share/url?url=https://test.borisbelov.com/gzprm/" target="_blank"><img src="./img/social/ok.png" alt=""/></a></div>
          </div>
          <div class="loader-wrap">
            <div class="img-wrap"><img src="./img/termometr.svg" alt=""></div>
            <p>Загружаем холода</p>
          </div>
        </section>
      </transition>
      <section class="map-scene" v-if="!showEnd">
        <div id="map-container">
          <div class="map-wrapper">
            <div class="water-block"></div>
            <div class="map"></div>
            <div class="content">
              <div class="animal animal--tulen" v-if="currentAnimal.label === 'tulen'">
                <div class="item tulen-item"><img class="ice" src="./img/animals/tulen/ice.png" alt=""/><img class="tulen" @click="animalAnimation('tulen')" src="./img/animals/tulen/tulen.png" alt=""/>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.svg" alt=""/>
                  </div>
                </div>
                <div class="item helicopter-item"><img class="helicopter" src="./img/animals/tulen/helicopter.png" alt=""/><img class="rope" src="./img/animals/tulen/rope.png" alt=""/></div>
              </div>
              <div class="animal animal--kazarka" v-if="currentAnimal.label === 'kazarka'">
                <div class="item"><img class="pointer" @click="animalAnimation('kazarka')" src="./img/animals/kazarka/pointer.png" alt=""/><img class="kazarka-1" src="./img/animals/kazarka/1.png" alt=""/><img class="kazarka-2" src="./img/animals/kazarka/2.png" alt=""/>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.svg" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-tablo">
          <div class="poinst-wrap">
            <div class="title">очков</div><span>{{ completedTasks * 10 }}</span>
          </div>
          <div class="task-wrap">
            <div class="title">выполнено заданий</div><span>{{ completedTasks }} / {{ animals.length }}</span>
            <button><img src="./img/answer.svg" alt=""></button>
          </div>
          <div class="animals-wrap">
            <div class="item" v-for="animal in infoAnimals" :class="{done: isDone, current: currentAnimal.label === animal.label &amp;&amp; isStart}"><img class="img" :src="animal.imgSrc" alt="">
              <div class="notify-wrap" v-if="currentAnimal.label === animal.label &amp;&amp; isStart" ref="animalNotify"><img class="bg" src="./img/notify/notify.svg" alt=""><img class="animal" :src="animal.imgNotify" alt="">
                <div class="text-wrap">
                  <div class="name">{{ currentAnimal.name }}</div>
                  <p>{{ currentAnimal.infoNotify }}</p>
                </div>
              </div>
              <div class="timer-indicator" v-if="currentAnimal.label === animal.label &amp;&amp; isStart"></div>
            </div>
          </div>
          <div class="compas-wrap"><img :src="currentAnimal.radar" alt=""></div>
        </div>
        <button class="sound" @click="muted = !muted"><img v-show="!muted" src="./img/sound_on.png" alt=""><img v-show="muted" src="./img/sound_off.png" alt=""></button>
      </section>
      <transition name="fade">
        <div class="popup-win-lose win" v-if="showPopupWin">
          <div class="star-wrap"><img v-for="star in currentAnimal.win.stars" src="./img/star.png" alt=""></div>
          <div class="title">{{ currentAnimal.win.title }}</div>
          <div class="text-wrap"><img src="./img/result-message.png" alt="">
            <p>{{ currentAnimal.win.text }}</p>
          </div>
          <div class="btn-wrap">
            <button class="btn" @click="nextAnimal('win')">Дальше</button>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div class="popup-win-lose lose" v-if="showPopupLose">
          <div class="text-wrap"><img src="./img/result-message.png" alt="">
            <p>{{ currentAnimal.lose }}</p>
          </div>
          <div class="btn-wrap">
            <button class="btn" @click="nextAnimal('lose')">Дальше</button>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <section class="end-scene" v-if="showEnd">
          <div class="water-block"></div>
          <div class="content-block"><img class="bg-left" src="./img/start-img-left.png" alt=""><img class="bg-right" src="./img/start-img-right.png" alt="">
            <header>
              <div class="left">
                <div class="logo-wrap"><a href="#" target="_blank"><img class="logo-1" src="./img/logo-1.svg" alt=""></a></div>
              </div>
              <div class="right">
                <div class="logo-wrap"><a href="#" target="_blank"><img class="logo-2" src="./img/logo-2.svg" alt=""></a></div>
                <div class="logo-wrap"><a href="#" target="_blank"><img class="logo-3" src="./img/logo-3.svg" alt=""></a></div>
              </div>
            </header>
            <div class="text-wrapper">
              <div class="star-wrap"><img v-for="i in 5" src="./img/star.png" alt=""></div>
              <div class="title">Ты — Крузенштерн!</div>
              <div class="notify-wrap"><img src="./img/message-big.png" alt="">
                <div class="txt-wrap">
                  <p>С таким капитаном не пропадешь в полярной экспедиции. Видно, ты готов зимовать на льдине и управлять оленями в упряжке, а в роду у тебя были великие мореплаватели, не иначе. </p><b>Не человек, а ледокол!</b>
                </div>
              </div>
              <div class="btn-wrap"><a class="btn btn--big" href="./"> ПРОЙТИ ЕЩЕ РАЗ!</a></div>
            </div>
            <div class="social-wrap"><a href="#" target="_blank"><img src="./img/social/vk.png" alt=""/></a><a href="#" target="_blank"><img src="./img/social/fb.png" alt=""/></a><a href="#" target="_blank"><img src="./img/social/tw.png" alt=""/></a><a href="#" target="_blank"><img src="./img/social/ok.png" alt=""/></a></div>
          </div>
          <div class="loader-wrap">
            <div class="img-wrap"><img src="./img/termometr.svg" alt=""></div>
            <p>Загружаем холода</p>
          </div>
        </section>
      </transition>
    </main>
    <audio class="beluga" src="./audio/beluga.mp3"></audio>
    <audio class="tulen" src="./audio/tulen.mp3"></audio>
    <audio class="kazarka" src="./audio/kazarka.mp3"></audio>
    <audio class="volk" src="./audio/volk.mp3"></audio>
    <audio class="olen" src="./audio/olen.mp3"></audio>
    <audio class="punochka" src="./audio/punochka.mp3"></audio>
    <audio class="narval" src="./audio/narval.mp3"></audio>
    <audio class="plankton" src="./audio/plankton.mp3"></audio>
    <audio class="medved" src="./audio/medved.mp3"></audio>
    <audio class="riba" src="./audio/riba.mp3"></audio>
    <audio class="click" src="./audio/click.mp3"></audio>
    <audio class="achievement" src="./audio/achievement.mp3"></audio>
    <audio class="radar" src="./audio/radar.mp3"></audio>
    <audio class="successfull" src="./audio/successfull.mp3"></audio>
    <audio class="lose" src="./audio/lose.mp3"></audio>
    <script src="./js/scripts.min.js"></script>
  </body>
</html><!-- Telegram: @rokkido -->