@import 'libs/normalize'
@import 'libs/jquery-ui.min'
@import 'components/_mixins'
@import 'components/_base'
@import 'components/_vars'




.start-scene,
.end-scene
	position: absolute
	+box
	z-index: 99
	overflow: hidden
	&.animation .content-block
		img.bg-left,
		img.bg-right,
		header,
		.text-wrap,
		.text-wrapper,
		.social-wrap,
		.int-text
			+move(0)
			opacity: 1
			transition: 1s
	.content-block
		position: relative
		z-index: 1
		height: 100%
		display: grid
		grid-template-rows: auto 1fr auto
		padding-top: 45rem
		padding-bottom: 45rem
		&.hide
			// opacity: 0
			// transition: .5s
		img.bg-left,
		img.bg-right
			position: absolute
			display: block
			bottom: 0
			transition: 0.5s
		img.bg-left
			left: 0
			width: 469rem
			+move(-100%, 0)
			+mq(576)
				width: calc(469rem / 1.5)
		img.bg-right
			right: 0
			width: 289rem
			+move(100%, 0)
			+mq(576)
				width: calc(289rem / 1.5)
		header
			display: flex
			align-items: center
			justify-content: space-between
			padding: 0 80rem
			transition: 0.5s
			opacity: 0
			+move(0, -100%)
			img
				display: block
				&.logo-1
					width: 89rem
				&.logo-2
					width: 134rem
				&.logo-3
					width: 142rem
			.left
			.right
				display: flex
				align-items: center
				.logo-wrap
					&:not(:last-child)
						position: relative
						margin-right: 40px
						&::after
							+pseudo
							width: 2rem
							height: 83rem
							background-color: #fff
							top: 0
							right: -20px

		.text-wrap
			text-align: center
			color: #fff
			padding-bottom: 100rem
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			transition: 0.5s
			+move(0, -100rem)
			opacity: 0
			h1
				font-weight: 400
				font-size: 96rem
				+mq(576)
					font-size: 60rem
			p
				width: 1300rem
				margin: 70rem auto
				font-size: 34rem
				line-height: 1.1
				letter-spacing: -0.045em
				+mq(576)
					width: 100%
					font-size: 22rem
					padding: 0 30rem
			.btn-wrap
			
		.social-wrap
			transition: 0.5s
			+move(0, 100rem)
			opacity: 0

	.loader-wrap
		position: absolute
		+box
		z-index: 1
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		+scale(0)
		transition: 1s
		&.active
			+scale(1)
			.img-wrap::after
				height: 0
		.img-wrap
			width: 30rem
			margin: 0 auto
			position: relative
			&::after
				+pseudo
				width: 8rem
				left: calc(50% - 4rem)
				bottom: 9rem
				background-color: #f08300
				transition: 3s 1s linear
				height: 62rem
			img
				display: block
				width: 100%
		p
			font-size: 28rem
			margin-top: 30rem
		


.end-scene
	bottom: auto
	min-height: 100vh
	min-height: calc(var(--vh, 1vh) * 100)
	+mq(576)
		bottom: 0
	.content-block
		min-height: 100vh
		min-height: calc(var(--vh, 1vh) * 100)
		+mq(576)
			grid-template-rows: auto auto auto auto
	.text-wrapper
		text-align: center
		color: #fff
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		transition: 0.5s
		+move(0, -100rem)
		opacity: 0
		+mq(576)
			padding: 0 20rem
		.star-wrap
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 20rem
			img
				width: 76rem
				&:not(:last-child)
					margin-right: 45rem
		.title
			font-weight: 400
			font-size: 96rem
			margin-bottom: 30rem
			+mq(576)
				font-size: 60rem
		.notify-wrap
			position: relative
			width: 1130rem
			margin: 0 auto
			+mq(576)
				width: 100%
			img
				display: block
				width: 100%
			.txt-wrap
				position: absolute
				top: 50%
				left: 0
				right: 0
				padding: 0 30rem
				+move(0, -50%)
				font-size: 22rem
				color: #000
				font-weight: 100
				p
					margin: 0
				b
					text-transform: uppercase
					font-size: 32rem
					margin-top: 10rem
					display: block
		.btn-wrap
			margin-top: 30rem

	.int-text
		width: 842rem
		margin-left: auto
		margin-right: auto
		position: relative
		margin-top: 100rem
		margin-bottom: 100rem
		transition: 0.5s
		+move(0, -100rem)
		opacity: 0
		+mq(576)
			width: 100%
			padding: 0 15rem
			align-self: flex-start
		img
			display: block
			width: 100%
		p
			position: absolute
			top: 50%
			left: 0
			right: 0
			padding: 0 20rem
			+move(0, -50%)
			font-size: 16rem
			line-height: 1.1
			text-align: center
			a
				color: $orange
				text-decoration: underline
		.btn-wrap
			position: absolute
			bottom: -40rem
			left: 0
			width: 100%
			text-align: center



.map-scene
	position: relative
	z-index: 10
	width: 100%
	height: 100%
	#map-container
		width: 100%
		height: 100%
		position: relative
		z-index: 1
		.map-wrapper
			width: 6528rem
			height: 3772rem
			position: absolute
			&::after
				+pseudo
				+box
				background-image: url('../img/ice.png')
				background-size: 100%
				transition: 0.25s
				animation: ice 1s infinite linear
			.map
				position: absolute
				+box
				background-image: url(../img/map.png)
				background-size: 100%
				// transition: .25s
				background-position: center
			
			.content
				position: absolute
				+box
				z-index: 3
				.animal
					+size(50rem)
					position: absolute
					&.pin
						pointer-events: none !important
					.item
						position: absolute
						top: 0
						left: 0
						> img
							display: block
						.notify-wrap
							position: absolute
							pointer-events: none
							img
								display: block
								width: 320rem
							p
								position: absolute
								top: 50%
								+move(0, -50%)
								left: 0
								right: 0
								padding: 0 15rem
								padding-bottom: 10rem
								text-align: center
								text-transform: uppercase
								line-height: 1
								font-size: 14rem
					&--tulen
						top: 1790rem
						left: 2940rem
						&.moveBack
							+move(88rem, 30rem)
							transition: 3s linear
						.item
							.notify-wrap
								top: -60rem
								left: 75rem
							&.tulen-item
								transition: 0.25s
								&:hover
									filter: brightness(120%)
								img.ice
									width: 103rem
								img.tulen
									width: 87rem
									position: absolute
									top: -3rem
									left: 8rem
									cursor: pointer
									&.rotate
										transform: scale(-1, 1)
										transition: .1s
									&.jump
										transform: scale(-1, 1) translate(-120rem, 20rem)
										transition: 0.5s
							&.helicopter-item
								position: absolute
								top: -370rem
								left: -146rem
								+move(250rem, -300rem)
								opacity: 0
								&.moveTo
									transition: transform 3s linear
									+move(0, 0)
									opacity: 1
								&.moveAway
									+move(250rem, -3000rem)
								img.helicopter
									width: 450rem
									position: relative
									z-index: 2
									animation: helicopter 1s linear infinite
								img.rope
									width: 8rem
									position: absolute
									left: 190rem
									top: 200rem
									opacity: 0
									transition: 1s
									&.active
										opacity: 1
					&--kazarka
						top: 1350rem
						left: 4400rem
						&.animated .item
							img.kazarka-1,
							img.kazarka-2
								+move(0)
								transition: 3s
						.item
							.notify-wrap
								top: -190rem
								left: -65rem
							img.pointer
								width: 200rem
								cursor: pointer
								transition: 0.25s
								&:hover
									opacity: .6
								&.active
									pointer-events: none
									opacity: 0
									transition: .5s
							img.kazarka-1
								width: 58rem
								position: absolute
								top: 50rem
								left: 30rem
								+move(-155rem, -150rem)
								animation: kazarka .5s linear infinite
							img.kazarka-2
								width: 58rem
								position: absolute
								top: 55rem
								left: 110rem
								+move(290rem, 160rem)
								animation: kazarka .5s linear infinite
					&--volk
						top: 2890rem
						left: 1170rem
						&.animated .item
							img.volk
								transition: 3s
								+move(0)
						.item
							.notify-wrap
								top: 200rem
								left: 275rem
							img.volk
								width: 40rem
								position: absolute
								top: 40rem
								left: 90rem
								+move(155rem, 250rem)
								cursor: pointer
								transition: 0.25s
								&:hover
									filter: brightness(120%)
							img.volcica
								width: 121rem
								position: relative
					&--olen
						top: 2700rem
						left: 4700rem
						&.animated .item
							// .oleni-wrap
							// 	img.olen-2,
							// 	img.olen-3,
							// 	img.olen-4
							// 		animation: olen .5s linear infinite
						.item
							img.truba
								width: 1903rem
								position: relative
								z-index: 2
								pointer-events: none
							.oleni-wrap
								position: absolute
								top: 80rem
								left: 1100rem
								img
									&.olen-1
										width: 70rem
										position: absolute
										top: 0
										left: 0
										transform: scale(-1, 1)
									&.olen-3
										width: 70rem
										position: absolute
										top: 0
										left: 0
										transform: translate(60rem, 130rem)
										&.rotate
											transform: translate(60rem, 130rem) scale(-1, 1)
											transition: 0.1s
										&.move
											transition: 3s
											transform: translate(-150rem, -90rem) scale(-1, 1)
									&.olen-2
										width: 67rem
										position: absolute
										top: 0
										left: 0
										transform: translate(125rem, 40rem)
										&.rotate
											transform:  translate(125rem, 40rem) scale(-1, 1)
											transition: 0.1s
										&.move
											transition: 3s
											transform: translate(-150rem, -190rem) scale(-1, 1)
											
									&.olen-4
										width: 67rem
										position: absolute
										top: 0
										left: 0
										transform: translate(140rem, 130rem)
										&.rotate
											transform: translate(140rem, 130rem) scale(-1, 1)
											transition: 0.1s
										&.move
											transition: 3s
											transform: translate(-250rem, -90rem) scale(-1, 1)
							.notify-wrap
								top: -10rem
								left: 1140rem
							.pointer
								position: absolute
								+size(300rem)
								top: 200rem
								left: 240rem
								cursor: pointer
								transition: 0.25s
								&:hover
									filter:	brightness(110%)
					&--beluga
						top: 2470rem
						left: 1580rem
						&.animated .item .pointer
							img.top
								transition: 1s
								+move(0rem, -100rem)
							img.left
								transition: 1s .25s
								+move(-60rem, 0)
							img.right
								transition: 1s .5s
								+move(40rem, -50rem)
						.item
							.pointer
								position: absolute
								+size(300rem)
								top: 0
								left: 0
								cursor: pointer
								transition: 0.25s
								&:hover
									filter:	brightness(110%)
								img.top
									width: 93rem
									position: absolute
									top: 40rem
									left: 40rem
								img.left
									width: 228rem
									position: absolute
									top: 80rem
									left: -45rem
								img.right
									width: 179rem
									position: absolute
									top: 0
									left: 140rem
								img.beluga
									width: 101rem
									position: absolute
									top: 85rem
									left: 135rem
									&.rotate
										transform: scale(-1, 1)
										transition: .1s
									&.move
										transform: translate(-280rem, -160rem) scale(-1, 1) 
										transition: 3s linear
							.notify-wrap
								top: 5rem
								left: 215rem
					&--punochka
						top: 990rem
						left: 3900rem
						&.animated .item
						.item
							img.punochka
								width: 71rem
								position: absolute
								top: 70rem
								left: 140rem
								transform: translate(350rem, 350rem)
								transition: 0.25s
								cursor: pointer
								&.rotate
									transform: translate(350rem, 350rem) scale(-1, 1)
									transition: .1s
								&.move
									transform: translate(0, 0) scale(-1, 1)
									transition: 2.5s
								&:hover
									filter: brightness(110%)
							img.kormushka
								width: 260rem
							.notify-wrap
								top: 320rem
								left: 555rem
					&--narval
						top: 110rem
						left: 4820rem
						&.animated .item
						.item
							img.led
								width: 540rem
								position: absolute
								top: 0
								left: 0
							.treshina
								width: 54rem
								height: 58rem
								position: absolute
								top: 360rem
								left: 340rem
								z-index: 1
								img
									position: absolute
									top: 0
									left: 0
									width: 100%
									height: 100%
									transition: 0.25s
									opacity: 0
									&.treshina-1
										opacity: 1
									&.treshina-2
										+rotate(90deg)
									&.treshina-3
										+rotate(140deg)
									&.active
										opacity: 1
							img.narval
								width: 253rem
								position: absolute
								top: 341rem
								left: 510rem
								z-index: 3
								cursor: pointer
								+move(-175rem, 0)
								&:hover
									filter: brightness(110%)
								&.moveAway
									+move(-470rem, 80rem)
									transition: 2s linear
							.notify-wrap
								top: 310rem
								left: 585rem
								z-index: 10
					&--plankton
						top: 2490rem
						left: 4840rem
						&.animated .item
							pointer-events: none
						.item
							img.plankton
								width: 178rem
								cursor: pointer
								transition: 0.25s
								&:hover
									filter: brightness(120%)
							img.copter
								width: 76rem
								position: absolute
								top: -50rem
								left: -150rem
								transform-origin: -0rem -0rem
								&.move
									top: 30rem
									left: 80rem
									transition: 1.5s linear
								&.rotate
									transition: 3s linear
									+rotate(360deg)
							.notify-wrap
								top: -60rem
								left: 135rem
					&--medved
						top: 2579rem
						left: 3233rem
						&.animated .item
							img.copter
								transition: 5s
								+move(1400rem, 0)
						.item
							img.copter
								width: 76rem
							img.medved
								position: absolute
								width: 122rem
								top: 330rem
								left: 310rem
								cursor: pointer
								transition: 0.25s
								&.rotate
									transition: 0.1s
									+scale(-1, 1)
								&.move
									transition: 5s 1s
									transform: translate(1000rem, -200rem) scale(-1, 1)
								&:hover
									filter: brightness(105%)
							.notify-wrap
								top: 230rem
								left: 315rem
					&--riba
						top: 840rem
						left: 4650rem
						&.animated .item
							
						.item
							img.vedro
								width: 35rem
								cursor: pointer
								transition: 0.25s
								&:hover
									filter: brightness(120%)
								&.drop
									+rotate(130deg)
									transition: .1s
							img.riba
								width: 138rem
								position: absolute
								top: 50rem
								left: 350rem
								&.rotate
									+scale(-1, 1)
									transition: .1s
								&.move
									transform: translate(-300rem, 0) scale(-1, 1)
									transition: 3s linear
							.notify-wrap
								top: -30rem
								left: 405rem
	.info-tablo
		position: absolute
		top: 60rem
		left: 60rem
		background-color: #fff
		z-index: 2
		padding: 100rem 0 32rem
		width: 359rem
		text-align: center
		+mq(576)
			width: calc(100% - 40rem)
			top: 20rem
			left: 20rem
			padding: 60rem 0 10rem
			display: grid
			grid-gap: 15rem 10rem
			grid-template-columns: 1fr 1fr
		&::before
			+pseudo
			top: -10rem
			left: -6rem
			width: 371rem
			height: 66rem
			background-image: url('../img/widget_top.svg')
			background-size: contain
			background-repeat: no-repeat
			z-index: 1
			+mq(576)
				background-repeat: repeat
				width: 100%
		&::after
			+pseudo
			bottom: -33rem
			left: 0rem
			width: 359rem
			height: 33rem
			background-image: url('../img/widget_bottom.svg')
			background-size: contain
			background-repeat: no-repeat
			z-index: 1
			+mq(576)
				background-repeat: repeat
				width: 100%
		.title
			font-size: 20rem
			text-transform: uppercase
			margin-bottom: 20rem
			line-height: 1
			+mq(576)
				font-size: 18rem
				margin-bottom: 10rem
		.poinst-wrap
			padding-bottom: 30rem
			+mq(576)
				padding-bottom: 0
			span
				font-size: 38rem
				color: #95c937
				line-height: 1
		.task-wrap
			position: relative
			span
				font-size: 38rem
				+mq(576)
					font-size: 25rem
			button
				position: absolute
				border: none
				background-color: transparent
				margin-left: 15rem
				margin-top: 10rem
				img
					width: 22rem
					display: block
		.animals-wrap
			display: grid
			justify-content: center
			grid-template-columns: repeat(5, 44rem)
			grid-gap: 10rem 18rem
			margin-top: 40rem
			+mq(576)
				margin-top: 0
			.item
				border: 2rem solid #CBE3EF
				position: relative
				&.current
					border-color: $orange
					.timer-indicator
						animation: timer 30s linear forwards
				&.done
					border-color: #95C937
				img.img
					display: block
					width: 100%
				.notify-wrap
					position: absolute
					top: -95rem
					left: 25rem
					z-index: 1
					display: none
					img.bg
						display: block
						width: 400rem
					img.animal
						display: block
						position: absolute
						bottom: 20rem
						right: 0rem
						width: 80rem
					.text-wrap
						position: absolute
						top: 50%
						+move(0, -50%)
						left: 0
						right: 0
						padding-left: 20rem
						padding-right: 80rem
						padding-bottom: 10rem
						text-align: left
						line-height: 1
						font-size: 14rem
						.name
							color: #aea28a
							margin-bottom: 5rem
				.timer-indicator
					position: absolute
					bottom: 0
					left: 0
					right: 0
					background-color: rgba($orange, .25)
					&.paused
						animation-play-state: paused
		.compas-wrap
			margin-top: 50rem
			+mq(576)
				margin-top: 0
			img
				display: block
				margin: 0 auto
				width: 92rem
				transition: 0.5s
				&.active
					animation: radar .5s infinite


	button.sound
		position: absolute
		top: 50rem
		right: 50rem
		z-index: 2
		background-color: transparent
		border: none
		+mq(576)
			display: none
		img
			display: block
			width: 64rem
			+mq(576)
				width: 50rem

		.btn-wrap
			margin-top: 30rem



.popup-win-lose
	position: absolute
	+box
	z-index: 999
	background-color: rgba(#052357, .95)
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	.star-wrap
		display: flex
		align-items: center
		margin-bottom: 60rem
		img
			width: 76rem
			&:not(:last-child)
				margin-right: 45rem
	.title
		font-size: 96rem
		color: #fff
		text-align: center
		margin-bottom: 50rem
		+mq(576)
			font-size: 60rem
	.text-wrap
		position: relative
		line-height: 1
		width: 880rem
		margin-left: auto
		margin-right: auto
		+mq(576)
			width: 100%
			padding: 0 20rem
		img
			display: block
			width: 100%
		p
			position: absolute
			top: 50%
			+move(0, -50%)
			left: 0
			right: 0
			font-size: 22rem
			text-align: center
			padding: 0 30rem
	.btn-wrap
		margin-top: 70rem


.rules-scene
	position: absolute
	+box
	background-color: rgba(#003D76, .95)
	z-index: 999
	color: #fff
	text-align: center
	+mq(576)
		padding-top: 270rem
	.wrapper
		display: grid
		height: 100%
		grid-template-rows: auto 1fr auto
		grid-gap: 30rem
		padding-top: 50rem
		padding-bottom: 100rem
		img.rules-1
			position: absolute
			display: block
			top: 312rem
			left: 341rem
			width: 423rem
			z-index: 10
			+mq(576)
				top: 74rem
				left: 304rem
		img.rules-2
			position: absolute
			display: block
			top: 552rem
			left: 193rem
			width: 92rem
			+mq(576)
				top: 169rem
				left: 523rem

		.header-wrap
			.title
				font-size: 64rem
				+mq(576)
					font-size: 50rem
			p
				font-size: 36rem
		.content-wrap
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			img.rules-3
				display: block
				width: 336rem
				margin: 0 auto
				margin-bottom: 50rem
				+mq(576)
					
			.notify-wrap
				position: relative
				width: 880rem
				margin-left: auto
				margin-right: auto
				+mq(576)
					width: calc(100% - 40rem)
				img
					display: block
					width: 100%
				p
					position: absolute
					top: 50%
					left: 0
					right: 0
					padding: 0 30rem
					+move(0, -50%)
					color: #000
					font-size: 22rem
					line-height: 1.1
					+mq(576)
						font-size: 18rem
					span
						color: $orange

		.btn-wrap


.integration-popup
	position: absolute
	bottom: 150rem
	right: 30rem
	z-index: 9999
	width: 842rem
	+mq(576)
		width: calc(100% - 60rem)
	img
		display: block
		width: 100%
	p
		position: absolute
		top: 50%
		left: 0
		right: 0
		padding: 0 20rem
		+move(0, -50%)
		font-size: 16rem
		line-height: 1.1
		text-align: center
		+mq(576)
			font-size: 15rem
		a
			color: $orange
			text-decoration: underline
	.btn-wrap
		position: absolute
		bottom: -40rem
		right: 50rem








