include ./_mixins

block vars

<!-- Telegram: @rokkido -->
doctype
html(lang=lang)
	head
		+head()
	body.hidden
		main#app
			block content_block
		
		.audio-wrap
			audio.beluga(src="./audio/beluga.mp3")
			audio.tulen(src="./audio/tulen.mp3")
			audio.kazarka(src="./audio/kazarka.mp3")
			audio.volk(src="./audio/volk.mp3")
			audio.olen(src="./audio/olen.mp3")
			audio.punochka(src="./audio/punochka.mp3")
			audio.narval(src="./audio/narval.mp3")
			audio.plankton(src="./audio/plankton.mp3")
			audio.medved(src="./audio/medved.mp3")
			audio.riba(src="./audio/riba.mp3")

			audio.click(src="./audio/click.mp3")
			audio.achievement(src="./audio/achievement.mp3")
			audio.radar(src="./audio/radar.mp3")
			audio.successfull(src="./audio/successfull.mp3")
			audio.lose(src="./audio/lose.mp3")

			audio.soundtrack(src="./audio/soundtrack.mp3" loop)

		+scripts()

<!-- Telegram: @rokkido -->