mixin head()
	title #{pageTitle}
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

	link(rel="apple-touch-icon", sizes="180x180", href="./img/favicon/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="./img/favicon/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="./img/favicon/favicon-16x16.png")
	link(rel="manifest", href="./img/favicon/site.webmanifest")
	link(rel="mask-icon", href="./img/favicon/safari-pinned-tab.svg", color="#666F86")
	link(rel="shortcut icon", href="./img/favicon/favicon.ico")
	meta(name="msapplication-TileColor", content="#666F86")
	meta(name="msapplication-config", content="./img/favicon/browserconfig.xml")
	meta(name="theme-color", content="#666F86")

	link(rel="stylesheet", href="./css/style.min.css")

mixin scripts()
	script(src="./js/scripts.min.js")

mixin nav-li(href, title, isActive)
	li: a(class=isActive ? 'active' : '', href=href) #{title}


mixin svg(w, h, img)
	svg(viewBox=`0 0 ${w} ${h}`, width=`${w}px`)
		use(xlink:href=`./img/sprite.svg#${img}`)


mixin social()
	.social-wrap
		a(href="#", target="_blank"): img(src="./img/social/vk.png", alt="")
		a(href="#", target="_blank"): img(src="./img/social/fb.png", alt="")
		a(href="#", target="_blank"): img(src="./img/social/tw.png", alt="")
		a(href="#", target="_blank"): img(src="./img/social/ok.png", alt="")





mixin animalTulen()
	.animal.animal--tulen(v-if="currentAnimal.label === 'tulen'")
		.item.tulen-item(@click="animalAnimation('tulen')")
			img.ice(src="./img/animals/tulen/ice.png", alt="")
			img.tulen(src="./img/animals/tulen/tulen.png", alt="")
			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")
		.item.helicopter-item
			img.helicopter(src="./img/animals/tulen/helicopter.png", alt="")
			img.rope(src="./img/animals/tulen/rope.png", alt="")

mixin animalKazarka()
	.animal.animal--kazarka(v-if="currentAnimal.label === 'kazarka'")
		.item
			img.pointer(@click="animalAnimation('kazarka')" src="./img/animals/kazarka/pointer.png", alt="")
			img.kazarka-1(src="./img/animals/kazarka/1.png", alt="")
			img.kazarka-2(src="./img/animals/kazarka/2.png", alt="")
			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalVolk()
	.animal.animal--volk(v-if="currentAnimal.label === 'volk'")
		.item
			img.volk(@click="animalAnimation('volk')" src="./img/animals/volk/volk.png", alt="")
			img.volcica(src="./img/animals/volk/volcica.png", alt="")

			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalOlen()
	.animal.animal--olen(v-if="currentAnimal.label === 'olen'")
		.item
			img.truba(src="./img/animals/olen/truba.png", alt="")
			
			.oleni-wrap
				img.olen-1(src="./img/animals/olen/olen-1.png", alt="")
				.pointer(@click="animalAnimation('olen')")
					img.olen-2(src="./img/animals/olen/olen-2.png", alt="")
					img.olen-3(src="./img/animals/olen/olen-1.png", alt="")
					img.olen-4(src="./img/animals/olen/olen-2.png", alt="")
			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalBeluga()
	.animal.animal--beluga(v-if="currentAnimal.label === 'beluga'")
		.item
			.pointer(@click="animalAnimation('beluga')")
				img.top(src="./img/animals/beluga/top.png", alt="")
				img.left(src="./img/animals/beluga/left.png", alt="")
				img.right(src="./img/animals/beluga/right.png", alt="")
				img.beluga(src="./img/animals/beluga/beluga.png", alt="")
			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalPunochka()
	.animal.animal--punochka(v-if="currentAnimal.label === 'punochka'")
		.item
			img.punochka(@click="animalAnimation('punochka')" src="./img/animals/punochka/punochka.png", alt="")
			img.kormushka(src="./img/animals/punochka/kormushka.png", alt="")
			
			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalNarval()
	.animal.animal--narval(v-if="currentAnimal.label === 'narval'")
		.item
			img.led(src="./img/animals/narval/led.png", alt="")
			.treshina
				img.treshina-1(src="./img/animals/narval/treshina.png", alt="")
				img.treshina-2(src="./img/animals/narval/treshina.png", alt="")
				img.treshina-3(src="./img/animals/narval/treshina.png", alt="")

			img.narval(@click="animalAnimation('narval')" src="./img/animals/narval/narval.png", alt="")

			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalPlankton()
	.animal.animal--plankton(v-if="currentAnimal.label === 'plankton'")
		.item
			img.plankton(@click="animalAnimation('plankton')" src="./img/animals/plankton/plankton.png", alt="")
			img.copter(src="./img/animals/plankton/copter.png", alt="")

			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalMedved()
	.animal.animal--medved(v-if="currentAnimal.label === 'medved'")
		.item
			img.copter(src="./img/animals/medved/copter.png", alt="")
			img.medved(@click="animalAnimation('medved')" src="./img/animals/medved/medved.png", alt="")

			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")

mixin animalRiba()
	.animal.animal--riba(v-if="currentAnimal.label === 'riba'")
		.item
			img.vedro(@click="animalAnimation('riba')" src="./img/animals/riba/vedro.png", alt="")
			img.riba(src="./img/animals/riba/riba.png", alt="")

			.notify-wrap
				p {{ currentAnimal.animalNotify }}
				img(src="./img/notify/notify.png", alt="")


















