@import '_vars'

// Font weight helper
// 100 - Thin (Hairline)
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

// Font Family (only ttf)
+ff("Pexico", "Pexico", 400)
+ff("PexicoMicro", "PexicoMicro", 400)


// Base
*,
*::before,
*::after
	box-sizing: border-box
	outline: none

::selection
	color: #fff
	background-color: $accent

::placeholder
	color: #666

h1, h2, h3, h4, h5, h6, p, ul, button
	margin: 0
	padding: 0

input, textarea
	display: block
	width: 100%

textarea
	resize: none

button
	cursor: pointer

a
	color: inherit

img
	user-select: none

html
	background-color: #ffffff
	height: fill-available
	font-size: 0.0520833333vw
	image-rendering: pixelated
	+mq(576)
		font-size: 0.13vw

body
	position: relative
	overflow-x: hidden
	min-width: 320px
	font-size: $fontSize
	line-height: $lineHeight
	color: $textColor
	font-family: $font
	font-weight: $fontWeight
	&.hidden
		background-color: #003D76
		main
			opacity: 0
			pointer-events: none
	main
		transition: 0.25s

.flex
	display: flex
	flex-wrap: wrap

.grid
	display: grid

.btn
	text-decoration: none
	border: none
	padding: 0
	background-color: transparent
	color: inherit
	cursor: pointer
	display: inline-flex
	justify-content: center
	align-items: center
	transition: .25s

	width: 305rem
	height: 80rem
	background-color: $blue
	color: #fff
	font-size: 28rem
	box-shadow: 9rem 9rem 0 0 $blue2
	transition: 0.25s
	position: relative
	left: -4rem
	text-align: center
	line-height: 1.1
	&--big
		width: 400rem
	&--small
		width: 155rem
		height: 56rem
		font-size: 19rem
		box-shadow: 5rem 5rem 0 0 $blue2
	&:hover
		box-shadow: 0 0 0 0 $blue2
		+move(0, 2rem)
	&:active
		+move(0, 4rem)

h1
	font-size: 40px
h2
	font-size: 30px



main
	width: 100vw
	height: 100vh
	height: calc(var(--vh, 1vh) * 100)
	overflow: hidden




.water-block
	background-color: #0b3367
	position: absolute
	+box
	background-image: url('../img/water.jpg')
	background-size: 399rem
	animation: water 1s infinite
	&.rotate
		transform: rotateY(180deg)
		background-position: -200rem 0

.social-wrap
	display: flex
	align-items: center
	justify-content: center
	a
		position: relative
		transition: 0.25s
		&:hover
			+move(0, -2rem)
		&:not(:last-child)
			margin-right: 15rem
		img
			display: block
			width: 35rem



.audio-wrap
	position: fixed
	bottom: -9999vh
	left: -9999vw
	opacity: 0
	width: 1px
	height: 1px
	overflow: hidden












.fade-enter-active, .fade-leave-active
	transition: .5s

.fade-enter, .fade-leave-to
	opacity: 0


.fade-notify-enter-active, .fade-notify-leave-active
	transition: .25s 2s

.fade-notify-enter, .fade-notify-leave-to
	opacity: 0


.integration-enter-active
	transition: .5s

.integration-leave-active
	transition: .1s

.integration-enter
	+move(100%, 0)

.integration-leave-to
	opacity: 0
















@keyframes helicopter
	0%, 100%
		filter: brightness(100%)
	50%
		filter: brightness(130%)

@keyframes ice
	0%, 100%
		+move(0)
	50%
		+move(0, -2rem)


@keyframes timer
	0%
		height: 0%
	100%
		height: 100%


@keyframes kazarka
	0%, 100%
		margin-top: 0
	50%
		margin-top: -2rem

@keyframes beluga
	0%, 100%
		margin-top: 0
	50%
		margin-top: -2rem




@keyframes radar
	0%, 100%
		+scale(1)
	50%
		+scale(1.3)


